<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ibardinov.godot.plugin.android.inappreview">

    <application>
        <meta-data
            android:name="org.godotengine.plugin.v1.GodotGooglePlayInAppReview"
            android:value="ibardinov.godot.plugin.android.inappreview.GodotGooglePlayInAppReview" />
    </application>
</manifest>
